<% provide(:title, "管理人の紹介") %>
<h1>~管理人の紹介~</h1>
<h2></h2>
<p>
  はじめまして！管理人の植野 裕樹です！<br>
  本サイトを閲覧していただきありがとうございます。
  私はWEAVERのファンなので、ファン同士が情報共有できるwebサイトを作成しました！<br>
  現在プログラマーを目指し勉強中です。
  人生逃げ切れるスキルが欲しい.....。<br>
  よろしくお願いしますψ(｀∇´)ψ
</p>