<% provide(:title, "管理人の紹介") %>
<h1>~管理人の紹介~</h1>
<h2></h2>
<p>
  はじめまして！管理人の植野 裕樹です！<br>
  <br>
  本サイトを閲覧していただきありがとうございます。<br>
  私はWEAVERのファンなので、ファン同士が情報共有できるwebサイトを作成しました！<br>
  <br>
  現在プログラマーを目指し勉強中です。<br>
  <br>
  よろしくお願いしますψ(｀∇´)ψ
  <br>
</p>