<% provide(:title, "WEAVER") %>
<h1>WEAVER</h1>
<p>  <%= link_to image_tag("WEAVER_1.jpg") %><br>
  <br>
  WEAVERとは、アミューズ所属のスリーピース・ピアノ・ロックバンドである彼らのこと。<br>
  <br>
  左からベース奥野翔太、ピアノ杉本雄治、ドラム河邉徹が担当している。<br>
  <br>
  2009年にメジャーデビューを果たし、デビュー曲「白朝夢」のプロローグ映像がBARKSの動画ランキングで1位を記録。<br>
  <br>
  デビュー10年目を迎え、流星コーリングプロジェクトを始動！<br>
  <br>
  <%= link_to image_tag("WEAVER_2.jpg") %><br>
  <br>
  来年には全国3カ所でツアーが行われる。<br>
  <br>
  WEAVERを応援する仲間と<a href="http://www.weavermusic.jp/ryuseicalling/" target="_blank">流星コーリングプロジェクト</a>を見届けよう！<br>
  <br>
  <%= link_to image_tag("WEAVER_3.jpg") %><br>
  <br>
  <%= link_to "新規登録", signup_path %>で最新情報をチェックし、WEAVERを応援しよう！
  <br>
  <br>
  <br>
</p>


<%#a href="https://railstutorial.jp/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>. %>