<%# リスト 11.14: アカウント有効化のHTMLビュー %>
<h1>WEAVER.COM</h1>

<p><%= @user.name %>様</p>

<p>
ようこそWEAVER.COMへ！<br>
下記のリンクをクリックしてアカウントを有効化してください。
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
