<%# リスト 12.9: パスワード再設定のテンプレート (HTML) %>
<h1>パスワード再設定</h1>

<p>下記のリンクをクリックしてパスワードを再設定してください。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>有効期限は2時間です。</p>

<p>
パスワードの再設定を行わない場合は、このメールを無視してください。
</p>