<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>
<!-- 拠点一覧　テーブル -->
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th></th>
    <th></th>
    <th>拠点番号</th>
    <th>拠点名</th>
    <th>勤怠種類</th>
  </tr>
  
  <tr>
    <td><%= link_to "修正", "#", class:"btn btn-primary" %></td>
    <td><%= link_to "削除", "#", class:"btn btn-primary" %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table table-bordered table-striped table-condensed">
  <tr>
    <td><%= link_to "拠点情報の追加", "#", class:"btn btn-primary" %></td>
  </tr>
</table>
