<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>
<!-- 拠点一覧　テーブル -->
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th></th>
    <th></th>
    <th>拠点番号</th>
    <th>拠点名</th>
    <th>勤怠種類</th>
  </tr>
  
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>拠点A</td>
    <td></td>
  </tr>
</table>
