<%# リスト 10.51: 各ユーザーを表示するパーシャル %>
<li>
  <%#= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %></br>
  <% if current_user.admin? && !current_user?(user) %>    <%# リスト 10.57: ユーザー削除用リンクの実装 pf:style属性追加 %>
    | <%= link_to "削除", user, method: :delete, 
          data: { confirm: "本当に削除しますか？" }, class: "btn btn-primary", :style=>"color:white" %></br></br>
    <div class="user-edit">
    | <%= link_to "編集", users_path(params: {id: user.id}), class: "btn btn-lg btn-primary", :style=>"color:white" %>
    </div>
  <% end %>
</li>