<%# リスト 10.37: ユーザーのindexビュー %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>    <%# リスト 10.45: indexページでpaginationを使う %>

<%# リスト 10.52: indexページの完全なリファクタリング %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>    <%# リスト 10.45: indexページでpaginationを使う %>