<% provide(:title, @user.name) %>
<div class="row">
  <!-- 勤怠表示画面　一番上のテーブル -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>勤怠年月</th>
        <th>指定勤務時間</th>
        <th>基本時間</th>
        <th>初日</th>
      </tr>
      
      <tr>
        <th>所属</th>
        <th>氏名</th>
        <th>コード</th>
        <th></th>
        <th>出勤日数</th>
        <th>締め</th>
      </tr>
    </thead>
  </table>
  <br>
  <!-- 勤怠表示画面　勤怠編集ボタン -->
  <%= link_to "勤怠を編集", "#", class: "btn btn-primary" %>
  
  <!-- 勤怠表示画面　下のメインのテーブル -->
  <table class="table table-bordered">
    <tr>
      <th>日付</th>
      <th>曜日</th>
      <th>出社</th>
      <th>退社</th>
      <th>在社時間</th>
      <th>備考</th>
    </tr>
    
    <tr>
      <th>時</th>
      <th>分</th>
      <th></th>
      <th>時</th>
      <th>分</th>
      <th></th>
    </tr>
  </table>
</div>