<%# フォーム送信時にエラーメッセージを表示するためのパーシャル  %>
<%# リスト 13.41: Userオブジェクト以外でも動作するようにerror_messagesパーシャルを更新する %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      エラー項目が <%= pluralize(object.errors.count, "つあります。") %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %>。</li>
    <% end %>
    </ul>
  </div>
<% end %>