@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  /* 背景画像の挿入 */
  background-image: url(http://livedoor.3.blogimg.jp/mamesoku/imgs/d/7/d7cd58be.jpg);
  /* 画像を繰り返さない */
  background-repeat: no-repeat;
  /* 全画面表示 */
  background-size: cover;
  /* 画像を中央に配置 */
  background-position: center center;
  /* 別ページでも動かないように固定 */
  background-attachment: fixed;
}

/* ホーム画面バランス調整 */
div.center.jumbotron {
  padding-top: 80px;
  h1 {
    font-family: Times New Roman;
    color: #CCCCCC;
  }
  h2 {
    color: #BBBBBB;
  }
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* ヘッダー色変更 */
.navbar {
  background-color: #33CCFF;
}

/* 透過 */
.jumbotron {
  background-color:rgba(0,0,0,0);
}

/* ヘッダーリンク部分の文字色変更 */
ul.nav.navbar-nav.navbar-right >li > a {
  color: black;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/* ログイン後のアカウントバー背景変更 */
ul.dropdown-menu {
  background-color: #33CCFF;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 130px;
  border-bottom: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: black;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {            /* リスト 14.18: Homeページのサイドバー用のSCSS */
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: black;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  strong {
    display: white;
  }
}

.user_avatars {        /* リスト 14.18: Homeページのサイドバー用のSCSS */
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {        /* リスト 14.18: Homeページのサイドバー用のSCSS */
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {              /* リスト 9.22: [remember me] チェックボックスのCSS */
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {      /* リスト 9.22: [remember me] チェックボックスのCSS */
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {    /* リスト 10.39: ユーザーのindexページ用 */
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* リスト 13.26 microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* 管理人紹介ページ編集（元aboutページ） */
div.container {
  h1 {
    font-weight: bold;
  }
  h2 {
    
  }
  p {
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 20px;
  }
}

/* ログインページ */
div.container > h1 {
  padding-top: 50px;
}
div.col-md-6.col-md-offset-3 > form > a {
  color: maroon;
}
div.col-md-6.col-md-offset-3 > p > a {
  color: maroon;
}

/* パスワード再設定画面 */
div.container > h1 {
  margin-top: 50px;
}

/* みんなの投稿ページ　プロフィールページの表記 */
section.user_info > span > a {
  color: #FFCCFF;
}
/* 5.1.2演習 
img {
  display: none;
}
*/