@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
/* pf */
body {
  padding-top: 60px;
  /* 背景画像の挿入 */
  /* pf background-image: url(http://livedoor.3.blogimg.jp/mamesoku/imgs/d/7/d7cd58be.jpg);
  /* 画像を繰り返さない */
  /* pf background-repeat: no-repeat;
  /* 全画面表示 */
  /* pf background-size: cover;
  /* 画像を中央に配置 */
  /* pf background-position: center center;
  /* 別ページでも動かないように固定 */
  /* pf background-attachment: fixed; */
} 

/* ホーム画面バランス調整 */
div.center.jumbotron {
  padding-top: 80px;
  /*h1 {
    padding-top: 50px;
    font-family: Times New Roman;
    color: #FFFFEE;
    font-size: 70px;
  }
  h2 {
    color: #FFFFEE;
  } */
} 

/* ホーム画面 新規登録ボタン */
.btn.btn-lg.btn-primary {
  /*background-color: #222222;
  border: 0.5px solid white;
  color: white;
  &:hover {
      text-decoration: none;
      background-color: #333333;
    }*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: white;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  /* pf font-family: Times New Roman; */
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* ヘッダー色変更 */
.navbar {
  /* pf background-color: #BAD3FF; */
}

/* 透過 */
.jumbotron {
  /* pf background-color:rgba(0,0,0,0); */
}

/* ヘッダーリンク部分の文字色変更 */
ul.nav.navbar-nav.navbar-right >li > a {
  color: white;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}
/* ログイン後のアカウントバー背景変更 */
ul.dropdown-menu {
  /*background-color: #BAD3FF;*/
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  /*background-color: #BAD3FF;*/
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 130px;
  /*border-bottom: 1px solid $gray-medium-light;*/
  color: $gray-light;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
footer.footer {
  padding-top: 35px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {            /* リスト 14.18: Homeページのサイドバー用のSCSS */
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: black;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  strong {
    display: white;
  }
}

.user_avatars {        /* リスト 14.18: Homeページのサイドバー用のSCSS */
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {        /* リスト 14.18: Homeページのサイドバー用のSCSS */
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {              /* リスト 9.22: [remember me] チェックボックスのCSS */
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {      /* リスト 9.22: [remember me] チェックボックスのCSS */
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {    /* リスト 10.39: ユーザーのindexページ用 */
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* リスト 13.26 microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* 管理人紹介ページ編集（元aboutページ） */
/* WEAVER紹介ページ（元helpページ） */
div.container {
  h1 {
    font-weight: bold;
  }
  h2 {
    
  }
  p {
  font-size: 1.3em;
  font-weight: normal;
  padding-top: 20px;
  color: black;
  background-color: rgba(0,0,0,0.5);
  padding: 30px;
  text-align: center;
    a {
      color: black;
    }
  }
  img {
    text-align: center;
    width: auto;
    max-height: 400px;
  }
}

/* ログインページ  */
div.col-md-6.col-md-offset-3 > form > a {
  color: black;
}
div.col-md-6.col-md-offset-3 {
  color: black;
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 30px;
}
div.col-md-6.col-md-offset-3 > form {
  padding-bottom: 20px;
}
div.col-md-6.col-md-offset-3 > a {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

/* 新規登録、ログインなど表記 */
div.container > h1 {
  padding-top: 20px;
  margin-top: 50px;
  color: black;
}
form#new_user.new_user > label {
  color: black;
}
form#new_user.new_user {
  padding: 30px;
}

/* みんなの投稿ページ　プロフィールページの表記 */
section.user_info > span > a {
  color: black;
}

/* 投稿、ログインなどボタン変更 */
input.btn.btn-primary {
  /*background-color: #222222;*/
  /*border: 0.5px solid white;*/
  color: white;
  &:hover {
      text-decoration: none;
      /*background-color: #333333;*/
    }
}
/* ユーザー一覧 */
.users {
  /*background-color: rgba(0,0,0,0.5);*/
  li {
    color: black;
  }
  a {
    color: black;
  }
}

/* 検索機能 */
.user_search {
  text-align: center;
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 30px;
  b {
    color: black;
    font-size: 20px;
  }
}

/* 画像選択の文字色 */
input#micropost_picture {
  color: black;
}

/* プロフィールを更新　アイコン変更 */
.gravatar_edit > a {
  color: black;
}

/* 投稿ページ　ユーザー名、投稿回数　文字色 */
section.user_info {
  h1 {
    color: black;
    font-size: 28px;
  }
  span {
    color: black;
  }
}

/* 投稿ページ　フォローフォロワー　文字色 */
.stats > a {
  color: black;
}

/* 投稿一覧　背景指定、透過 */
ol.microposts {
  padding: 10px;
  /*background-color: rgba(0,0,0,0.5);*/
  color: black;
  span.user > a {
    color: black;
  }
}

/* 投稿画面タイトル　みんなの投稿など */
.col-md-8 > h3 {
  color: black;
}

/* 投稿　削除する　文字色 */
span.timestamp > a {
  color: black;
}

/* ログイン画面の「こちら」 */
div.col-md-6.col-md-offset-3 a {
  font-size: 15px;
  color: #337ab7;
}
/* 5.1.2演習 
img {
  display: none;
}
*/