<% provide(:title, "出勤中社員一覧") %>
<h1>出勤中社員一覧</h1>

<div class="row">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td></td>
        <td>
          <% @users.each do |user| %>
            <% user.attendances.each do |attendance| %>
              <% if attendance.beginning_time != nil && attendance.leaving_time == nil %>
                <%= user.name %><br>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<!--
<ul class="attendance_users">
    <%# @users.each do |user| %>
      <%# user.attendances.each do |attendance| %>
        <%# if attendance.beginning_time != nil && attendance.leaving_time == nil %>
          <li><%#= user.name %></li>
        <%# end %>
      <%# end %>
    <%# end %>
</ul> -->