<footer class="footer">
  <%# <small>
    <a>Create Yuki Ueno</a>    ポートフォリオで変更 
  </small> %>
  <nav>
    <ul>
      <li><%#= link_to "管理人の紹介",   about_path %></li>    <%# ポートフォリオで変更 %>
      <li><%#= link_to "Contact", contact_path %></li>    <%# ポートフォリオでいらない %>
      <%#<li><a href="http://www.weavermusic.jp/" target="_blank">WEAVER公式サイトへ</a></li>    <%# ポートフォリオで変更 %>
    </ul>
  </nav>
</footer>